body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(231, 230, 230);
}

a {
  color: #00B7FF;
}

.home-page{
  text-align: center;
}

.carousel-inner img {
  height: 600px;
}

.carousel-inner{
  width: 80vw;
  height: 600px;
}

.carousel {
  width: 80vw;
  margin: auto;
}