<div class="home-page">
    <h1>{{title}}</h1>
    <h4>Welcome to {{title}}'s fan page.</h4>
    <p>Check out the gallery for some awesome pictures, and check out the about page to learn more about us.</p>
</div>

